<h1 class="title is-3">Cohort #<%= @cohort.id %></h1>

<table class="table is-hoverable is-striped">
  <tbody>
    <tr>
      <th>Description</th>
      <td><%= @cohort.description %></td>
    </tr>
    <tr>
      <th>Twitter IDs</th>
      <td><%= @cohort.twitter_ids %></td>
    </tr>
  </tbody>
</table>
