<h1 class="title is-3">Cohort #<%= @cohort.id %></h1>

<div id='collect_data_flash'></div>
<%= button_to 'Start collecting data (may take a while...)',
              cohort_collect_data_path(@cohort),
              remote: true,
              class: 'button' %>

<table class="table is-hoverable is-striped">
  <tbody>
    <tr>
      <th>Description</th>
      <td><%= @cohort.description %></td>
    </tr>
    <tr>
      <th>Twitter IDs</th>
      <td><%= @cohort.twitter_ids %></td>
    </tr>
  </tbody>
</table>
