.switmenu-menu {
  position: fixed;
  padding: 50px 30px 30px 30px;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  z-index: 7777;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateX(100%);
  background-color: #ffffff;
  box-shadow: inset 40px 0px 85px -50px rgba(0,0,0,0.2);

  @media all and (max-width: 1300px) {
    width: 50%;
  }

  @media all and (max-width: 900px) {
    width: 70%;
  }

  @media all and (max-width: 700px) {
    width: 100%;
  }

  &.switmenu-menu-active {
    transform: translateX(0%);
  }

  .switmenu-menu-closer {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 40px;
    z-index: 7777;

    i {
      vertical-align: top;
    }
  }
}
