---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&tweet_mode=extended&user_id=14706139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="34987b9096d29e8d1f0e03e12d4a5e6a",
        oauth_signature="x3Uk5YpEMHAX0zlPVxpRe64ALqs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1581542356", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 12 Feb 2020 21:19:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99995'
      X-App-Rate-Limit-Reset:
      - '1581625150'
      X-Connection-Hash:
      - 0dd586e8866102e117e8ff8a04921664
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1581543256'
      X-Response-Time:
      - '91'
      X-Transaction:
      - 00f9a24c00cf1447
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Feb 12 18:55:00 +0000 2020","id":1227667437430198276,"id_str":"1227667437430198276","full_text":"RT @rtushnet:Amazon\u2019s Judging of IP Claims Questioned in Seller Lawsuits (featuring comments from me) https:\/\/t.co\/QuLXmtIWz3","truncated":false,"display_text_range":[0,126],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rtushnet","name":"Rebecca Tushnet","id":27172744,"id_str":"27172744","indices":[3,12]}],"urls":[{"url":"https:\/\/t.co\/QuLXmtIWz3","expanded_url":"https:\/\/news.bloomberglaw.com\/ip-law\/amazons-judging-of-ip-disputes-questioned-in-sellers-lawsuits","display_url":"news.bloomberglaw.com\/ip-law\/amazons\u2026","indices":[103,126]}]},"source":"\u003ca href=\"https:\/\/buffer.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14706139,"id_str":"14706139","name":"Berkman Klein Center for Internet & Society","screen_name":"BKCHarvard","location":"Cambridge,MA","description":"at Harvard University - exploring cyberspace,sharing in its study,and helping to pioneer its development","url":"https:\/\/t.co\/cIFJW3piLH","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/cIFJW3piLH","expanded_url":"http:\/\/cyber.harvard.edu\/","display_url":"cyber.harvard.edu","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":59308,"friends_count":3487,"listed_count":3266,"created_at":"Thu May 08 21:32:17 +0000 2008","favourites_count":3175,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":15103,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"8B0000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14706139\/1536164323","profile_link_color":"8B0000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed Feb 12 15:44:46 +0000 2020","id":1227619561412997124,"id_str":"1227619561412997124","full_text":"Amazon\u2019s Judging of IP Claims Questioned in Seller Lawsuits (featuring comments from me) https:\/\/t.co\/QuLXmtIWz3","truncated":false,"display_text_range":[0,112],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/QuLXmtIWz3","expanded_url":"https:\/\/news.bloomberglaw.com\/ip-law\/amazons-judging-of-ip-disputes-questioned-in-sellers-law[...]
