---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&tweet_mode=extended&user_id=14706139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5413f3440f418f3fa08176a69b2382bc",
        oauth_signature="uJZ9Sg12%2FtPbnUW%2F4mwIoQkxRzc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1581629449", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2020 21:30:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99999'
      X-App-Rate-Limit-Reset:
      - '1581715850'
      X-Connection-Hash:
      - 2bfe6baa4da13bfb363ed288df1bd27e
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1581630350'
      X-Response-Time:
      - '64'
      X-Transaction:
      - 00a810ce00c75dd9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Feb 13 19:40:02 +0000 2020","id":1228041156921040898,"id_str":"1228041156921040898","full_text":"\"Smart
        cities and their protagonists are strong, and their incentives are high...nevertheless,
        creative resistance is not futile\" - Vasilis Kostakis and Wolfgang Drechsler
        for the BKC Medium Collection https:\/\/t.co\/4wwIe4gBau","truncated":false,"display_text_range":[0,225],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/4wwIe4gBau","expanded_url":"http:\/\/bit.ly\/2ORfrdY","display_url":"bit.ly\/2ORfrdY","indices":[202,225]}]},"source":"\u003ca
        href=\"https:\/\/buffer.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14706139,"id_str":"14706139","name":"Berkman
        Klein Center for Internet & Society","screen_name":"BKCHarvard","location":"Cambridge,
        MA","description":"at Harvard University - exploring cyberspace, sharing in
        its study, and helping to pioneer its development","url":"https:\/\/t.co\/cIFJW3piLH","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/cIFJW3piLH","expanded_url":"http:\/\/cyber.harvard.edu\/","display_url":"cyber.harvard.edu","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":59324,"friends_count":3486,"listed_count":3266,"created_at":"Thu
        May 08 21:32:17 +0000 2008","favourites_count":3177,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":15109,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"8B0000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14706139\/1536164323","profile_link_color":"8B0000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Feb 13 19:27:33 +0000 2020","id":1228038014569312256,"id_str":"1228038014569312256","full_text":"@techpolicy4POC
        @ISOC_NA Our internships are paid, but interns must make their own housing
        and transportation arrangements.","truncated":false,"display_text_range":[25,123],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"techpolicy4POC","name":"Tech
        Policy For People of Color","id":1088164616780374018,"id_st[...]
