---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&tweet_mode=extended&user_id=14706139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="33c1998d25bde20af2bfac61baae5fe9",
        oauth_signature="40Lhfu%2FO2IZlvJ98DmkwnU7idDs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1586381521", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Apr 2020 21:32:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99998'
      X-App-Rate-Limit-Reset:
      - '1586454094'
      X-Connection-Hash:
      - 1bc875ec2925e47bbaefe708198aeadc
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1586382421'
      X-Response-Time:
      - '110'
      X-Transaction:
      - 00f363cb00e943d1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Apr 08 18:42:01 +0000 2020","id":1247957888678735877,"id_str":"1247957888678735877","full_text":"RT
        @leonardcortana: Op-ed published at @jeune_afrique for the 2 year anniversary
        of Marielle Franco''s execution. In the anticipated consequ\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"leonardcortana","name":"Leonard
        Cortana","id":1150921657424535560,"id_str":"1150921657424535560","indices":[3,18]},{"screen_name":"jeune_afrique","name":"Jeune
        Afrique","id":88708920,"id_str":"88708920","indices":[39,53]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/buffer.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14706139,"id_str":"14706139","name":"Berkman
        Klein Center for Internet & Society","screen_name":"BKCHarvard","location":"Cambridge,
        MA","description":"at Harvard University - exploring cyberspace, sharing in
        its study, and helping to pioneer its development","url":"https:\/\/t.co\/cIFJW3piLH","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/cIFJW3piLH","expanded_url":"http:\/\/cyber.harvard.edu\/","display_url":"cyber.harvard.edu","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":59833,"friends_count":3489,"listed_count":3273,"created_at":"Thu
        May 08 21:32:17 +0000 2008","favourites_count":3321,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":15347,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"8B0000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14706139\/1536164323","profile_link_color":"8B0000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Apr 08 18:21:43 +0000 2020","id":1247952780427505664,"id_str":"1247952780427505664","full_text":"Op-ed
        published at @jeune_afrique for the 2 year anniversary of Marielle Franco''s
        execution. In the anticipated consequences of the #COVID\u30fc19 for marginalized
        communities, relaying what should be the future of politics is a priority
        to fight dystopia. https:\/\/t.co\/EAivXuvf21","truncated":false,"display_text_range":[0,275],"entities":{"hashtags":[{"text":"COVID\u30fc19","indices":[132,141]}],"symbols":[],"user_mentions":[{"screen_name":"jeune_afrique","name":"Jeune
        Afrique","id":88708920,"id_str":"88708920","indices":[19,33]}],"urls":[{"url":"https:\/\/t.co\/EAivXuvf21","expanded_url":"https:\/\/cyber.harvard.edu\/story\/2020-04\/her-name-was-marielle-franco","display_url":"cyber.harvard.edu\/story\/2020-04\/\u2026","indices":[252,275]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web Ap[...]
[...]
