---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&tweet_mode=extended&user_id=14706139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="6cf8d49df1addeac3910347c9b183b21",
        oauth_signature="DaalSyIxGm%2FZKnBFZjybJp5vhYs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1591719939", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Jun 2020 16:25:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99998'
      X-App-Rate-Limit-Reset:
      - '1591806254'
      X-Connection-Hash:
      - 65e146ea0b493246e6a987ce47f8124f
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1591720754'
      X-Response-Time:
      - '72'
      X-Transaction:
      - 00a6006f00bf95bb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jun 09 16:12:35 +0000 2020","id":1270388330283372555,"id_str":"1270388330283372555","full_text":"RT
        @oumoubly: Last week, Claire Wardle and I talked about the interplay between
        disinformation and journalistic practice: The way media eng\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"oumoubly","name":"Oumou
        Ly","id":1258533228459089921,"id_str":"1258533228459089921","indices":[3,12]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14706139,"id_str":"14706139","name":"Berkman
        Klein Center for Internet & Society","screen_name":"BKCHarvard","location":"Cambridge,
        MA","description":"at Harvard University - exploring cyberspace, sharing in
        its study, and helping to pioneer its development","url":"https:\/\/t.co\/cIFJW3piLH","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/cIFJW3piLH","expanded_url":"http:\/\/cyber.harvard.edu\/","display_url":"cyber.harvard.edu","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":60613,"friends_count":3490,"listed_count":3166,"created_at":"Thu
        May 08 21:32:17 +0000 2008","favourites_count":3515,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":15661,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"8B0000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/750348115207749632\/C797G5an_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14706139\/1536164323","profile_link_color":"8B0000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Jun 09 16:11:57 +0000 2020","id":1270388173307146240,"id_str":"1270388173307146240","full_text":"Last
        week, Claire Wardle and I talked about the interplay between disinformation
        and journalistic practice: The way media engages with and covers conspiracies
        can contribute to polluting the information ecosystem. Is there a fix? Check
        it out \u2b07\ufe0f\u2b07\ufe0f\u2b07\ufe0f https:\/\/t.co\/K3op9oUmJ9","truncated":false,"display_text_rang[...]
