<% if flash.any? %>
  <% flash.each do |key, value| -%>
    <div class="notification is-<%= key %>"> <%# Supported: info, success, warning, danger %>
      <%= value.html_safe %>
    </div>
  <% end -%>
<% end %>
