<div class="app-container header">
  <header>
    <%= image_tag('favicon.ico') %>
    <h1>ODIE</h1>
    <% if user_signed_in? %>
      <div style="float: right;">
        <%= link_to('Collect Data', new_data_collection_path,
                    class: 'button button-secondary') %>
        <%= link_to('Sign Out', destroy_user_session_path,
                    method: :delete, class: 'button button-secondary') %>        
      </div>
    <% end %>
  </header>
</div>
