<p>
  Hi, <%= current_user.email %>!
</p>

<p>
  Manage:
</p>

<ul>
  <li>
    <%= link_to 'Search Queries', search_queries_path %>
  </li>
  <li>
    <%= link_to 'Cohort Collectors', cohort_collectors_path %>
  </li>
</ul>
