# Copy this file to twitter.conf (it's .gitignored)
# Replace keys, secrets, and filepath with your values

input {
  twitter {
      consumer_key => "consumer_key"
      consumer_secret => "consumer_secret"
      oauth_token => "access_token"
      oauth_token_secret => "access_token_secret"
      keywords => ["keyword","keyword","keyword"]
      full_tweet => true
  }
}

filter {
  ruby {
    path => "{FULL PATH GOES HERE}/lib/check_links_for_keywords.rb"
  }
}

output {
  stdout { }
  elasticsearch {
      hosts         => ["localhost:9200"]
      index         => "odie"
      document_type => "tweets"
  }
}
