[v-cloak] {
  display: none;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.almost-like-a-link {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.floatThead-table {
  th {
    background-color: #ffffff;
    color: #000000;
    z-index: 77777;
  }
}

.tippy-popper {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.content ul.multiselect__content {
  margin: 0;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $primary;

  &::after {
    background: $primary;
  }
}

.tag.is-primary {
  background-color: #ffffff !important;
  color: #000000;
  border: 1px solid #d3d3d3;
  height: auto;
  padding: 3px 5px;

  a,
  span {
    color: #000000;
    font-size: 0.9rem;
  }

  .tag-value {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    padding: 0 4px;
    margin-left: 6px;
    border-radius: 2px;
  }

  .tag-title {
    max-width: 150px;
    overflow: hidden;
    display: block;
  }
}

.b-tooltip {
  cursor: pointer;
}

.button-social {
  &:hover {
    color: #ffffff !important;
  }

  &.googleplus__design__flat,
  &.pinterest__design__flat,
  &.tumblr__design__flat {
    display: none !important;
  }
}
