<h1 class="title is-3">Create new Search Query <span class="is-size-7"><a href="#about">what's this?</a></span></h1>

<div class="box">
  <%= form_with model: SearchQuery.new, url: search_queries_path do |f| %>
    <div class="field">
      <label class="label" for="name">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name" name="name" id="name">
      </div>
    </div>

    <div class="field">
      <label class="label" for="description">Description</label>
      <div class="control">
        <textarea class="textarea" placeholder="Description" name="description" id="description"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label" for="url">URL</label>
      <div class="control">
        <input class="input" type="url" placeholder="URL" name="url" id="url">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.submit 'Create' , class: 'button is-primary'%>
      </div>
    </div>
  <% end %>
</div>

<div class="card" id="about">
  <header class="card-header">
    <p class="card-header-title">
      About Search Queries
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>
        A Search Query represents the source that ODIE will monitor for on Twitter.
        Users tweeting about this source will be sampled in order to define cohorts
        to follow.
      </p>

      <p>
        All fields in this form <i>will be publicly displayed</i>.
      </p>
    </div>
  </div>
</div>
